@font-face{
    font-family: Metropolis-Bold;
    src: url('/tipografia/Metropolis-Bold.otf');
    font-family: Metropolis-SemiBold;
    src: url('/tipografia/Metropolis-SemiBold.otf');
    font-family: Metropolis-Regular;
    src: url('/tipografia/Metropolis-Regular.otf');
    font-family: Metropolis-Thin;
    src: url('/tipografia/Metropolis-Thin.otf');
    font-family: Metropolis-Medium;
    src: url('/tipografia/Metropolis-Medium.otf');
    font-family: Metropolis-Light;
    src: url('/tipografia/Metropolis-Light.otf');
}
/*-------------------------------------------------------------------General-------------------------------------------------*/
body{
    width: 100%;
    overflow: -webkit-paged-y;
}

/*-------------------------------------------------------------------Home-------------------------------------------------*/
/* Navbar */
.navbar-nav .nav-item {
    padding-right: 4.5rem !important;
}
.nav-bar{
    color: #010101 !important;
    font-family: Metropolis-Regular;
}
.register{
    background: -webkit-gradient(linear, left top, left bottom, from(#4F9BD0), to(#284E68));
    border-radius: 30px;
    color: white !important;
    padding: 5px 30px !important;
    font-family: Metropolis-Regular;
}
/* SECCION 1 */
.stn-1{
    background-image: url('/img/background-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 768px;
}
.stn-1 .stn-1-1{
    margin-top: 150px;
}
.stn-1 .stn-1-1 h1{
    color: white;
    text-align: center;
    margin: 16px;
    font-family: Metropolis-SemiBold;
}
.stn-1-1-1{
    margin-top: 40px;
}
.stn-1-1-1 p{
    color: white;
    font-family: Metropolis-Regular;
    font-weight: 100;
    line-height: 9px;
    text-align: center;
}
.stn-1-1-2{
    margin-top: 80px;
    text-align: center;
}
.stn-1-1-2 a{
    background: #FFFFFF;
    color: #305F80;
    padding: 9px 26px;
    border-radius: 30px;
}
.stn-1-1-3{
    margin-top: 80px;
    text-align: center;
}
/* SECCION 2 */
.stn-2-1 h2{
    padding: 60px 0px;
    text-align: center;
    font-family: Metropolis-SemiBold; 
}
.stn-2-2{
    margin-top:80px;
}
.slide-text-cont{
    margin-top: 20px;
}
.slide-text-cont hr{
    border-bottom: 2px solid #F79421;
    width: 60px;
}
.slide-text-cont p{
    color: #4F9BD0;
    font-family: Metropolis-Medium;
    line-height: 10px;
}
.slide-subtext-cont{
    font-family: Metropolis-Thin;
}
.left{
    position: absolute;
    top: 150%;
    left: 50px;
}
.rig{
    position: absolute;
    top: 150%;
    right:50px;
}
/* SECCION 3 */
.stn-3{
    background-image: url('/img/background-img-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 619px;
    margin-top: 100px;
}
.stn-3 .stn-3-2{
    margin-top: 80px;
}
.stn-3-1 h2{
    padding: 60px 0px;
    text-align: center;
    font-family: Metropolis-SemiBold; 
    color: white; 
}
.stn-3-1 h2 span{
    color: black;
}
.slide-text-cont-3{
    margin-top: 20px;
}
.slide-text-cont-3 hr{
    border-bottom: 2px solid #F79421;
    width: 60px;
}
.slide-text-cont-3 p{
    color: white;
    font-family: Metropolis-Medium;
    line-height: 10px;
}
.slide-subtext-cont-3 span{
    color:white;
}
.slide-subtext-cont-3{
    font-family: Metropolis-Thin;
}
/* SECCION 4 */
.stn-4-1 h2{
    padding: 60px 0px;
    text-align: center;
    font-family: Metropolis-SemiBold; 
}
/* FOOTER*/
footer{
    background: #292929;
}
footer h6{
    color: white;
}
.footer-cont{
    padding: 40px 0px;
}
.footer-cont p{
    color:white;
    font-family: Metropolis-Light;
}
footer hr{
    color: #292929;
}
.reporta p{
    text-align: center;
    font-size: 12px;
    margin: 0;
    padding: 15px 1px 0px 1px;
}
/* --------------------------------------------------------------LOGIN------------------------------------------------------ */
.ctn-1{
    background-image: url('/img/login/img-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ctn-2{
    background-image: url('/img/login/img-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: -webkit-fill-available;
}
.ctn-2-1 h2{
    font-family: Metropolis-SemiBold;
    margin-top: 120px;
    text-align: center;
}
.ctn-2-1-1 .form-group{
    margin-top: 50px;
}
.ctn-2-1-1 input{
    border: 2px solid #707070;
    border-radius:30px;
    background: transparent;
}
.ctn-2-1-1 input:focus,.ctn-2-1-1 input:hover, .ctn-2-1-1 input:active{
    border: 2px solid #3C759E;
    border-radius:30px;
    background: transparent;
    outline:0px;
    box-shadow: 0 1px 1px rgba(255, 145, 0, 0) inset, 0 0 8px rgba(255, 145, 0, 0);
}
.ingresar{
    text-align: center;
}
.ctn-2-1-1 .ingresar input{
    background: -webkit-gradient(linear, left top, left bottom, from(#4F9BD0), to(#284E68));
    border-radius: 30px;
    color: white !important;
    padding: 5px 30px !important;
    font-family: Metropolis-Regular;
    border: none;
}
.link{
    margin-top: 36px;
    text-align: center;
}
.link a{
    color: #818181;
    text-align: center;
}
.link a:hover{
    color: #3C759E;
    text-align: center;
}
.field-icon {
    float: right;
    /* margin-left: -47px; */
    margin-top: -25px;
    margin-right: 17px;
    position: relative;
    z-index: 2;
}
/* --------------------------------------------------------------REGISTRO------------------------------------------------------ */
.ctn-r-1{
    background-image: url('/img/registtro/img-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ctn-r-2{
    background-image: url('/img/registtro/img-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: -webkit-fill-available;
}
.ctn-2-1 h2{
    font-family: Metropolis-SemiBold;
    margin-top: 120px;
    text-align: center;
}
.ctn-r-2 .form-group{
    margin-top: 25px;
}
.ctn-2-1-1 input, .ctn-2-1-1 .form-control{
    border: 2px solid #707070;
    border-radius:30px;
    background: transparent;
}
.ctn-r-2 input:focus,.ctn-r-21 input:hover, .ctn-r-2 input:active, .ctn-r-2select:hover,.ctn-r-2 select:focus, .ctn-r-2 select:active{
    border: 2px solid #3C759E;
    border-radius:30px;
    background: transparent;
    outline:0px;
    box-shadow: 0 1px 1px rgba(255, 145, 0, 0) inset, 0 0 8px rgba(255, 145, 0, 0);
}
.ingresar{
    text-align: center;
}
.ctn-r-2 .ingresar input{
    background: -webkit-gradient(linear, left top, left bottom, from(#4F9BD0), to(#284E68));
    border-radius: 30px;
    color: white !important;
    padding: 5px 30px !important;
    font-family: Metropolis-Regular;
    border: none;
}
.link{
    margin-top: 36px;
    text-align: center;
}
.link a{
    color: #818181;
    text-align: center;
}
.link a:hover{
    color: #3C759E;
    text-align: center;
}
/* --------------------------------------------------------------RECUPERAR CONTRASENIA------------------------------------------------------ */
.ctn-rc-1{
    background-image: url('/img/re-contra/img-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ctn-rc-2{
    background-image: url('/img/re-contra/img-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ctn-rc-2 p{
    text-align: center;
    line-height: 0px;
    font-family: Metropolis-Regular;
    margin-top: 28px;
}
.ctn-rc-2 h2{
    font-family: Metropolis-SemiBold;
    margin-top: 0px;
    text-align: center;
}
.ctn-r-2 .form-group{
    margin-top: 25px;
}
.ctn-2-1-1 input, .ctn-2-1-1 .form-control{
    border: 2px solid #707070;
    border-radius:30px;
    background: transparent;
}
.ctn-r-2 input:focus,.ctn-r-21 input:hover, .ctn-r-2 input:active, .ctn-r-2select:hover,.ctn-r-2 select:focus, .ctn-r-2 select:active{
    border: 2px solid #3C759E;
    border-radius:30px;
    background: transparent;
    outline:0px;
    box-shadow: 0 1px 1px rgba(255, 145, 0, 0) inset, 0 0 8px rgba(255, 145, 0, 0);
}
.ingresar{
    text-align: center;
}
.ctn-r-2 .ingresar input{
    background: -webkit-gradient(linear, left top, left bottom, from(#4F9BD0), to(#284E68));
    border-radius: 30px;
    color: white !important;
    padding: 5px 30px !important;
    font-family: Metropolis-Regular;
    border: none;
}
.link{
    margin-top: 36px;
    text-align: center;
}
.link a{
    color: #818181;
    text-align: center;
}
.link a:hover{
    color: #3C759E;
    text-align: center;
}
/* --------------------------------------------------------------REGISTRO CONSULTOR------------------------------------------------------ */
.ctn-rco-1{
    background-image: url('/img/registro-consultor/img-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ctn-rco-2{
    background-image: url('/img/registro-consultor/img-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: -webkit-fill-available;
}
.ctn-2-1 h2{
    font-family: Metropolis-SemiBold;
    margin-top: 120px;
    text-align: center;
}
.ctn-r-2 .form-group{
    margin-top: 25px;
}
.ctn-2-1-1 input, .ctn-2-1-1 .form-control{
    border: 2px solid #707070;
    border-radius:30px;
    background: transparent;
}
.ctn-r-2 input:focus,.ctn-r-21 input:hover, .ctn-r-2 input:active, .ctn-r-2select:hover,.ctn-r-2 select:focus, .ctn-r-2 select:active{
    border: 2px solid #3C759E;
    border-radius:30px;
    background: transparent;
    outline:0px;
    box-shadow: 0 1px 1px rgba(255, 145, 0, 0) inset, 0 0 8px rgba(255, 145, 0, 0);
}
.ingresar{
    text-align: center;
}
.ctn-rco-2 .ingresar input{
    background: -webkit-gradient(linear, left top, left bottom, from(#4F9BD0), to(#284E68));
    border-radius: 30px;
    color: white !important;
    padding: 5px 30px !important;
    font-family: Metropolis-Regular;
    border: none;
}
.link{
    margin-top: 36px;
    text-align: center;
}
.link a{
    color: #818181;
    text-align: center;
}
.link a:hover{
    color: #3C759E;
    text-align: center;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 3px solid #999999;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-style: dashed;
    border-bottom-style: dashed;
    color: #999999;
    width: 100%;
    text-align: center;
}
.fa-cloud-upload-alt{
    color:#999999 !important;
}
.ingresar button{
    background: -webkit-gradient(linear, left top, left bottom, from(#4F9BD0), to(#284E68));
    border-radius: 30px;
    color: white !important;
    padding: 5px 30px !important;
    font-family: Metropolis-Regular;
    border: none;
}
.modal-content{
    top: 250px;
}
/* --------------------------------------------------------------UG04------------------------------------------------------ */
.ctn1-ug-04{
    background-image: url('/img/ug04/img-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ctn2-ug-04{
    background-image: url('/img/ug04/img-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ctn2-ug-04 .title{
    text-align: center;
}
.ctn2-ug-04 .title h1{
    font-family: Metropolis-SemiBold;
    color: #FFFFFF;
    font-size: 35px;
    padding: 30px 0px;
}
.ctn2-ug-04 .title p{
    font-family: Metropolis-Regular;
    color: #FFFFFF;
    line-height: 10px;
    font-size: 25px;
}
.ctn2-ug-04 .title .btn-register{
    padding: 30px 1px;
}
.ctn2-ug-04 .title .btn-register a{
    font-family: Metropolis-Regular;
    color: #3C759E;
    background: white;
    border-radius: 30px;
    padding: 7px 18px;
}
/* --------------------------------------------------------------UG04-1------------------------------------------------------ */
.ctn3-ug-04{
    background-image: url('/img/ug04/img-3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ctn4-ug-04{
    background-image: url('/img/ug04/img-4.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ctn3-ug-04 .title{
    text-align: center;
}
.ctn3-ug-04 .title h1{
    font-family: Metropolis-SemiBold;
    color: #FFFFFF;
    font-size: 35px;
    padding: 30px 0px;
}
.ctn3-ug-04 .title p{
    font-family: Metropolis-Regular;
    color: #FFFFFF;
    line-height: 10px;
    font-size: 25px;
}
.ctn3-ug-04 .title .btn-register{
    padding: 30px 1px;
}
.ctn3-ug-04 .title .btn-register a{
    font-family: Metropolis-Regular;
    color: #3C759E;
    background: white;
    border-radius: 30px;
    padding: 7px 18px;
}
/* --------------------------------------------------------------ML-1------------------------------------------------------ */
.ctn-ml-1 .ctn-ml-1-1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
    font-family: Metropolis-Bold;
}
.ctn-ml-1 .ctn-ml-1-2{
    margin-top: 10px;
}
.ctn-ml-1 .ctn-ml-1-2 .col-lg-3{
    text-align: center;
    margin-top: 20px;
}
.ctn-ml-1 .ctn-ml-1-2 .col-lg-3 a{
    border: 1px solid #305F80;
    color: #305F80;
    border-radius: 30px;
    padding: 6px 23px;
    font-family: Metropolis-Regular;
}
.ctn-ml-1 .ctn-ml-1-2 .col-lg-3 .active{
    background: -webkit-gradient(linear, left top, left bottom, from(#4F9BD0), to(#284E68));
    border-radius: 30px;
    color: white ;
    padding: 6px 23px;
    border: none;
}
.ctn-ml-2 h4{
    font-family: Metropolis-Bold;
    padding-left: 130px;
    margin-top: 80px;
}
.ctn-ml-2 p{
    padding-left: 130px;
    text-align: left;
    font-family: Metropolis-Regular;
    color:#656565;
}
.ctn-ml-3 h4{
    font-family: Metropolis-Bold;
    padding-left: 130px;
    margin-top: 40px;
}
.ctn-ml-5{
    text-align: right;
}
.ctn-ml-5 a{
    color: #305F80;
}
.ctn-ml-5 a:hover{
    color: #305F80;
}
.title-table th{
    text-align: center;
    border: 1px solid transparent !important;
    font-size: 15px;
}
.table-bordered td{
    border: 2px solid #707070 !important;
    vertical-align: middle !important;
    color:#656565 !important;
    font-size: 12px;
}
.title-table .dropdown-toggle{
    color: white !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#4F9BD0), to(#284E68)) !important;
    width: 20px;
    height: 33px;
}
.dropdown-toggle::after {
    display: inline-block;
    margin-left: -5px !important;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
.title-table .dropdown-toggle:focus{
    outline:0px;

}
tbody tr .plantilla{
    width: 220px !important;
    text-align: center;
}
tbody tr .si-no{
    color: #DF524E !important;
    text-align: center;
    width: 167px !important;
    border-right: 2px solid white !important;
}
tbody tr .quien{
    width: 170px !important;
    text-align: center;
    border-right: 2px solid white !important;
}
tbody tr .tipy{
    width: 129px !important;
    text-align: center;
    border-right: 2px solid white !important;
}
tbody tr .date{
    width: 124px !important;
    text-align: center;
    border-right: 2px solid white !important;
}
.sub-drow{
background: url(/../img/ml-1/puntos.png)!important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 5px;
    -webkit-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-position: center;
    position: absolute;
    height: 22px;
    color: transparent !important;
}
.sub-drows{
    background: url(/../img/ml-1/puntos2.png)!important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 5px;
    -webkit-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-position: center;
    position: absolute;
    height: 22px;
    color: transparent !important;
}
.page-item{
    padding: 1px !important;
}
.page-item a{
    font-size: 16px !important;
}
.page-link{
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #1E3A4E !important;
    background-color: #fff;
    border: 1px solid #ffffff00 !important;
    font-family: Metropolis-Medium;
}
.page-item.disabled .page-link {
    color: #1E3A4E !important;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #1E3A4E !important;
    font-family: Metropolis-Medium;
    border-radius: 0px !important;
}
.dro-item-1{
    font-family: Metropolis-Regular;
    color: #3C759E !important;
}
.dro-item-2{
    color:#818181 !important;
    font-family: Metropolis-Regular;
}
/* --------------------------------------------------------------RESPONSIVE------------------------------------------------------ */
@media (max-width: 992px) {
    .ctn-ml-2 h4 {
        font-family: Metropolis-Bold;
        padding-left: 0px;
        margin-top: 80px;
    }
    .ctn-ml-2 p {
        padding-left: 0;
        text-align: justify;
        font-family: Metropolis-Regular;
        color: #656565;
    }
    .ctn3-ug-04 .title h1 {
        font-family: Metropolis-SemiBold;
        color: #FFFFFF;
        font-size: 30px;
        padding: 30px 0px;
    }
    .ctn3-ug-04 .title p {
        font-family: Metropolis-Regular;
        color: #FFFFFF;
        line-height: 20px;
        font-size: 22px;
    }
    .ctn2-ug-04 .title h1 {
        font-family: Metropolis-SemiBold;
        color: #FFFFFF;
        font-size: 30px;
        padding: 30px 0px;
    }
    .ctn2-ug-04 .title p {
        font-family: Metropolis-Regular;
        color: #FFFFFF;
        line-height: 22px;
        font-size: 22px;
    }
    .nav-bar {
        color: #010101 !important;
        font-family: Metropolis-Regular;
        text-align: center;
    }
    .stn-1 .stn-1-1 h1{
        color: white;
        text-align: center;
        margin: 16px;
        font-family: Metropolis-SemiBold;
        font-size: 50px;
    }
    .navbar-nav .nav-item {
        padding-right: 1.5rem !important;
    }
    .register {
        background: -webkit-gradient(linear, left top, left bottom, from(#4F9BD0), to(#284E68));
        border-radius: 30px;
        color: white !important;
        padding: 5px 30px !important;
        font-family: Metropolis-Regular;
        text-align: center;
    }
}
@media (max-width: 768px) {
    .ctn-ml-3 h4 {
        font-family: Metropolis-Bold;
        padding-left: 0;
        margin-top: 40px;
    }
    .sub-drow {
        background: url(/../img/ml-1/puntos.png)!important;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 5px;
        -webkit-appearance: none;
        appearance: none;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        background-position: center;
        position: absolute;
        height: 22px;
        color: transparent !important;
        right: 16px;
    }
    .sub-drows{
        background: url(/../img/ml-1/puntos2.png)!important;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 5px;
        -webkit-appearance: none;
        appearance: none;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        background-position: center;
        position: absolute;
        height: 22px;
        color: transparent !important;
        right: 16px;
    }
    .ctn-ml-2 h4 {
        font-family: Metropolis-Bold;
        padding-left: 0px;
        margin-top: 80px;
    }
    .ctn-ml-2 p {
        padding-left: 0;
        text-align: justify;
        font-family: Metropolis-Regular;
        color: #656565;
    }
    .ctn4-ug-04{
        display: none;
    }
    .ctn1-ug-04{
        display: none;
    }
    .ctn-rco-1{
        display: none;
    }
    .ctn-rc-1{
        display: none;
    }
    .ctn-r-1{
        display: none;
    }
    .ctn-1{
        display: none;
    }
    footer h6 {
        color: white;
        margin-top: 20px;
    }
    .stn-2-2 {
        margin-top: 0;
    }
    .stn-3 .stn-3-2 {
        margin-top: 0;
    }
    .stn-3 {
        background-image: url(/img/background-img-2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: auto;
        margin-top: 100px;
    }
    .navbar-nav .nav-item {
        padding-right: 1.5rem !important;
    }
    .stn-1 .stn-1-1 h1{
        color: white;
        text-align: center;
        margin: 16px;
        font-family: Metropolis-SemiBold;
        font-size: 35px;
    }
}
@media (max-width: 576px) {
    .ctn-ml-1-1 h4{
        font-size: 20px;
    }
    .ctn2-ug-04 .title h1 {
        font-family: Metropolis-SemiBold;
        color: #FFFFFF;
        font-size: 25px;
        padding: 30px 0px;
    }
    .ctn2-ug-04 .title p {
        font-family: Metropolis-Regular;
        color: #FFFFFF;
        line-height: 16px;
        font-size: 16px;
    }
    .stn-1 .stn-1-1 h1{
        color: white;
        text-align: center;
        margin: 16px;
        font-family: Metropolis-SemiBold;
        font-size: 30px;
    }
    .stn-1-1-1 p {
        color: white;
        font-family: Metropolis-Regular;
        font-weight: 100;
        line-height: 20px;
        text-align: center;
    }
}
@media (max-width: 360px) {
    .stn-1 .stn-1-1 h1 {
        color: white;
        text-align: center;
        margin: 16px;
        font-family: Metropolis-SemiBold;
        font-size: 24px;
    }
    .stn-1-1-1 p {
        color: white;
        font-family: Metropolis-Regular;
        font-weight: 100;
        line-height: 20px;
        text-align: center;
    }
    .stn-3 {
        background-image: url(/img/background-img-2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: auto;
        margin-top: 100px;
    }
}